@import "./variable";
@import "./normalize";
@import "./layout";

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-25 {
  flex: 1 1 25%;
}

.flex-75 {
  flex: 1 1 75%;
}

@layer base {
  html,
  body {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@layer components {
  .add-button {
    @apply bg-red-700 p-3 w-full h-20 border border-red-900;
  }

  .link-button {
    @apply font-display flex items-center rounded-xl gap-3 py-3 px-4
      text-button-text font-bold hover:bg-background-invert-25
      active:bg-background-invert transition ease-in-out duration-200;
  }
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
}

.abs-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  border-radius: 0 0 10px 10px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(6.2px);
  /* border: 2px solid var(--background); */
  border-top: none;
}
