@import "./variable";
@import "./normalize";
@import "./layout";

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-25 {
  flex: 1 1 25%;
}

.flex-75 {
  flex: 1 1 75%;
}

@layer base {
  html,
  body {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@layer components {
  .add-link-button {
    @apply flex p-5 hover:bg-gray-100 transition-base cursor-pointer border gap-5 border-background-invert rounded-2xl bg-main;
  }

  .link-button {
    @apply font-display flex items-center rounded-xl gap-3 py-3 px-4
      text-button-text font-bold hover:bg-background-invert-25
      active:bg-background-invert transition-base;
  }

  .transition-base {
    @apply transition ease-in-out duration-200;
  }

  .btn-base {
    @apply inline-flex justify-center outline-none ring-offset-1 rounded-lg border px-5 py-3 text-sm font-bold transition-base focus:ring-2;
  }

  .btn-primary {
    @apply btn-base border-background-invert-25 bg-paragraph text-main hover:bg-paragraph-25 ring-paragraph-25;
  }

  .btn-secondary {
    @apply btn-base border-gray-300 bg-white text-button-text hover:bg-background ring-paragraph-25 transition-base;
  }
}

.content {
  position: relative;
  justify-content: center;
}

.abs-header {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(6.2px);
}

.underline-move {
  display: inline-block;
  position: relative;
  color: white;
}

.item-choice-container {
}

.underline-move::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.underline-move:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
