//      /$$$$$$$$ /$$                                               /$$
//     | $$_____/| $$                                              | $$
//     | $$      | $$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$  /$$$$$$$  /$$$$$$   /$$$$$$$
//     | $$$$$   | $$ /$$__  $$| $$_  $$_  $$ /$$__  $$| $$__  $$|_  $$_/  /$$_____/
//     | $$__/   | $$| $$$$$$$$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  | $$   |  $$$$$$
//     | $$      | $$| $$_____/| $$ | $$ | $$| $$_____/| $$  | $$  | $$ /$$\____  $$
//     | $$$$$$$$| $$|  $$$$$$$| $$ | $$ | $$|  $$$$$$$| $$  | $$  |  $$$$//$$$$$$$/
//     |________/|__/ \_______/|__/ |__/ |__/ \_______/|__/  |__/   \___/ |_______/

$background: #f2f7f5;
$headline: #00473e;
$paragraph: #475d5b;
$button-primary: #faae2b; // ajouter des variantes aux bouton et changer le jaune
$button-text: #00473e;

//     /$$$$$$ /$$ /$$                       /$$                          /$$     /$$
//    |_  $$_/| $$| $$                      | $$                         | $$    |__/
//      | $$  | $$| $$ /$$   /$$  /$$$$$$$ /$$$$$$    /$$$$$$  /$$$$$$  /$$$$$$   /$$  /$$$$$$  /$$$$$$$
//      | $$  | $$| $$| $$  | $$ /$$_____/|_  $$_/   /$$__  $$|____  $$|_  $$_/  | $$ /$$__  $$| $$__  $$
//      | $$  | $$| $$| $$  | $$|  $$$$$$   | $$    | $$  \__/ /$$$$$$$  | $$    | $$| $$  \ $$| $$  \ $$
//      | $$  | $$| $$| $$  | $$ \____  $$  | $$ /$$| $$      /$$__  $$  | $$ /$$| $$| $$  | $$| $$  | $$
//     /$$$$$$| $$| $$|  $$$$$$/ /$$$$$$$/  |  $$$$/| $$     |  $$$$$$$  |  $$$$/| $$|  $$$$$$/| $$  | $$
//    |______/|__/|__/ \______/ |_______/    \___/  |__/      \_______/   \___/  |__/ \______/ |__/  |__/
//

$stroke: #00332c;
$main: #f2f7f5;
$highlight: #faae2b;
$secondary: #ffa8ba;
$tertiary: #fa5246;
